body{
    margin: 20px;
    background-color:rgb(16, 89, 148);
    font-family: 'Chakra Petch', sans-serif;
}
input{
    margin-bottom: 10px;
    padding: 5px;
    border: solid 2px rgb(136, 247, 255);
    border-radius: 10px;

}
input::placeholder{
    font-size: 4px;
}
button{
    padding: 5px 20px;
    border: solid 2px rgb(10, 72, 76);
    border-radius: 15px;  
    color: rgb(32, 51, 51);
    background-color: azure;
    width: 100%;
    margin-bottom: 10px;
    font-family: 'Chakra Petch', sans-serif;
}

p{
    font-size: 20px;
    color: aliceblue;
}
a{
    text-decoration: none;
    color:aliceblue
}